{% comment %}

  Comments will not appear right after they are submitted, either to be checked for spam
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372

  More information:
    - http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<section class="section">

  <div class="wrapper">

    <div class="grid grid--center grid--spaced">

      <div class="grid__col l-10-12 xl-10-12">

        {% include 'breadcrumb' %}

      </div>

      <div class="grid__col l-10-12 xl-6-12">


          <article class="article" itemscope itemtype="http://schema.org/Article">

            <header>
                <h1 class="title title--headline">{{ article.title }}</h1>
                <p class="typo-meta"><time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %-d %Y'  }}</time></p>
            </header>

            <div class="article__content rte" itemprop="articleBody">
              {{ article.content }}
            </div>

            <div class="article__share">
              {% include 'share-block' %}
            </div>

          </article>


      </div>

      <div class="grid__col l-10-12 xl-4-12">

        <!-- START OF LATEST BLOG POSTS -->
        <aside class="article__sidebar contained">
          <div class="article__feed">
            <header class="article__feed-header">
              <h3 class="title">Recent posts</h3>
            </header>
          </div>
          <div class="article__feed-body">
            <ul class="article__feed-list">

            {% assign post_id = article.id %}

            {% for article in blog.articles limit: 3 %}
              {% comment %} Check if its the post we're currently on {% endcomment %}
              {% unless article.id == post_id %}
              <li class="article__feed-item">
                {% assign content = article.content | strip_html | truncate: 140 %}
                {% include 'news-snippet', link: article.url, title: article.title, post_date: article.published_at, snippet_text: content, more_text: 'Read more' %}
              </li>
              {% endunless %}

            {% endfor %}

            </ul>
          </div>
        </aside>

      </div>

    </div>



  </div>

</section>
