<form method="get" action="{{collection.url}}" class="form" id="collection-form">

{% paginate collection.products by 12 %}

<header class="page__header">


    <h1 class="page__title">{{ collection.title }}</h1>

    <div class="form__field page__sort">

      <label for="sort_by">Sort by</label>

      <div class="form__flex-field">

          {% if collection.sort_by != '' %}
            {% assign sort_by = collection.sort_by  %}
          {% else %}
            {% assign sort_by =  collection.default_sort_by %}
          {% endif %}

        <select name="sort_by" id="sort_by" data-update-collection>
          <option value="manual" {% if sort_by == 'manual' %}selected="selected"{% endif %}>Featured</option>
          <option value="price-ascending" {% if sort_by == 'price-ascending' %}selected="selected"{% endif %}>Price: Low to High</option>
          <option value="price-descending" {% if sort_by == 'price-descending' %}selected="selected"{% endif %}>Price: High to Low</option>
          <option value="title-ascending" {% if sort_by == 'title-ascending' %}selected="selected"{% endif %}>A-Z</option>
          <option value="title-descending" {% if sort_by == 'title-descending' %}selected="selected"{% endif %}>Z-A</option>
          <option value="created-ascending" {% if sort_by == 'created-ascending' %}selected="selected"{% endif %}>Oldest to Newest</option>
          <option value="created-descending" {% if sort_by == 'created-descending' %}selected="selected"{% endif %}>Newest to Oldest</option>
          <option value="best-selling" {% if sort_by == 'best-selling' %}selected="selected"{% endif %}>Best Selling</option>
        </select>

        <button type="submit" class="btn js-hide">Sort</button>
      </div>

    </div>

</header>


{% assign c = collection.products %}
{% include 'collection-product-list' with c %}

<div class="pagination">
  {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
</div>

{% endpaginate %}

</form>
