<!-- /templates/customers/login.liquid -->

{% comment %}
  If a user has successfully requested a new password, the form.posted_successfully? variable
  is set to true within the 'recover_customer_password' form only. Within that form you'll see
  the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
{% endcomment %}
  {% comment %}
<div class="note form-success" id="ResetSuccess" style="display:none;">
  {{ 'customer.recover_password.success' | t }}
</div>
{% endcomment %}
<section class="section">

  <div class="wrapper">

    <div class="grid grid--center grid--align-mid grid--flex">


      <div class="grid__col  l-2-3">


            {% include 'login-form' %}

            {% include 'recovery-form' %}

        
      </div>

    </div>

  </div>

</section>

{% comment %}
  If accounts are set as optional, the following will be shown as an option
  during checkout, not on the default /login page.
{% endcomment %}

{% if shop.checkout.guest_login %}

  <h2 class="title title--sub">Or continue as a guest</h2>

  {% form 'guest_login' %}
    <input type="submit" class="btn" value="Yes, please!">
  {% endform %}
{% endif %}
