<h1>Reset your password</h1>

<div class="form-vertical">
  {% form 'reset_customer_password' %}

  {{ form.errors | default_errors }}

  <label for="ResetPassword">New Password</label>
  <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} error{% endif %}" placeholder="Password">

  <label for="PasswordConfirmation">Confirm password</label>
  <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="password">

  <input type="submit" class="btn btn--full" value="Change Password">

  {% endform %}
</div>
