<header class="page__header">
  <h1 class="page__title">Reset your password</h1>
</header>

<div class="grid grid--center">

  <div class="grid__col m-1-2 l-1-2">
    {% form 'reset_customer_password' %}

    {% if form.errors %}
    <div class="msg-box msg-box--negative">
      {{ form.errors | default_errors }}
    </div>
    {% endif %}

    <div class="form__field">

      <label for="ResetPassword">New Password</label>
      <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} form__input--error{% endif %}" placeholder="Password">

    </div>

    <div class="form__field">

      <label for="PasswordConfirmation">Confirm password</label>
      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} form__input--error{% endif %}" placeholder="password">

    </div>

    <div class="form__field">

      <input type="submit" class="btn btn--full" value="Change Password">

    </div>

    {% endform %}
  </div>
</div>
