
<title>{{ page_title }}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}{% if template contains 'index' %} &ndash; {{ settings.homepage_page_title }}{% endif %}</title>
