<div class="form js-parsley-validate">
  {% form 'reset_customer_password' %}

  {% if form.errors %}
  <div class="msg-box msg-box--negative">
    {{ form.errors | default_errors }}
  </div>
  {% endif %}

  <div class="form__row">

    <label class="form__label" for="ResetPassword">New Password</label>
    <input type="password" data-parsley-required-message="{{settings.form_error_password_required}}" value="" name="customer[password]" id="ResetPassword" class="form__field {% if form.errors contains 'password' %} form__input--error{% endif %}" placeholder="Password" required>

  </div>

  <div class="form__row">

    <label class="form__label" for="PasswordConfirmation">Confirm password</label>
    <input type="password" data-parsley-required-message="{{settings.form_error_password_required}}" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="form__field {% if form.errors contains 'password_confirmation' %} form__input--error{% endif %}" placeholder="password" data-parsley-equalto='#ResetPassword' required>

  </div>

  <div class="form__row">

    <input type="submit" class="btn btn--primary btn--full" value="Change Password">

  </div>

  {% endform %}

</div>
