<header class="site-header">


  <div class="wrapper">

    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="/account">My Account</a> | {{ 'Log out' | customer_logout_link }} |
      {% else %}
        {{ 'Log in' | customer_login_link }} |
      {% endif %}

      <a href="/cart" class="site-header__cart">
        Basket
        {% unless cart.item_count == 0 %}
        <span class="badge">{{cart.item_count}}</span>
        {% endunless %}
      </a>
    {% endif %}

  </div>


  <div class="wrapper">

    <a href="/" class="logo">
     {{ 'logo.svg' | asset_url | img_tag: 'Logo Alt text', 'logo__img' }}
    </a>

    <button class="btn-menu is-visible js-nav-toggle"><span class="btn-menu-txt">menu</span></button>

    {% include 'search-bar' %}

  </div>

  {% include 'site-nav' %}

</header>
<!-- / .site-header -->
