<header class="site-header section">

  <div class="wrapper">

    <div class="site-header__wrap">

    <a href="/" class="site-header__logo">
     {{ 'logo.svg' | asset_url | img_tag: 'Character.com - Dress your imagination', 'site-header__logo-img' }}
    </a>

    {% include 'search-bar' %}

    {% if shop.customer_accounts_enabled %}

      {% include 'customer-nav' %}

    {% endif %}

    {% include 'site-nav' %}

    </div>

  </div>

</header>
<!-- / .site-header -->
