<div class="share-block">

  <ul class="share-block__list">

    <li class="share-block__item">
      <a href="{{ settings.social_facebook_page }}" class="share-block__link icon facebook">
        <span class="visuallyhidden">Facebook</span>
      </a>
    </li>
    <!-- /.share-block__item -->
    <li class="share-block__item">
      <a href="https://{{ settings.social_twitter_username }}" class="share-block__link icon twitter">
        <span class="visuallyhidden">Twitter</span>
      </a>
    </li>
    <!-- /.share-block__item -->

  </ul>

</div>
